# From .gitignore.
node_modules
npm-debug.log
.idea
android/android.iml
android/build/*
android/gradle/*
android/.gradle/*
android/gradlew
android/gradlew.bat
android/local.properties

# Ones we don't want published to npm.
src/*
.vscode
tsconfig.json
.eslintrc.js
.prettierrc.js
yarn.lock
